@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    background-color: whitesmoke;
}

/*inicio-navbar*/
.navbar-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/fundo.jpg);
    border-bottom: 10px solid #ffd905;
    width: 100%;
    padding: 5px;
}

.navbar-logo img{
    width: 100px;
    padding: 5px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 450px;
    padding: 5px;
}

.navbar-links a{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: bold;
    padding: 7px;
    transition: 0.4s;
}

.navbar-links a:hover {
    background-color: white;
    color: black;
    border-radius: 10px 0;
}

.navbar-social-media {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 250px;
}

.navbar-social-media img {
    display: flex;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 6px;
    transition: 0.4s;
}

.navbar-social-media img:hover {
    box-shadow: 0 0 4px 2px white;
}
/*final-navbar*/

/*inicial-titulo-pizzas*/
.titulo-pizzas {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.titulo-pizzas h1 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #333;
    padding: 5px;
    border-bottom: 3px dotted #333;
}
/*final-titulo-pizzas*/

/*inicio-slide-img*/
.pizza-img-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 410px;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    background-image: url(../img/fundo.jpg);
}

.pizza-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 330px;
    width: 300px;
    transition: 0.4s;
    background-color: white;
}

.pizza-img img {
    display: flex;
    height: 240px;
    width: 280px;
    transition: 0.4s;
}

.pizza-img p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    padding: 6px;
}
/*final-slide-img*/

/*inicio-cardapio*/
.cardapio-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.cardapio-title h2 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    padding: 5px;
    border-bottom: 3px dotted #333;
}

.cardapio-content-itens {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: black;
}

.cardapio-itens {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
}

.cardapio-itens dt {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}

.cardapio-itens dd {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}
/*final-cardapio*/ 

/*inicio-area*/
.area-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.area-title h2 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    padding: 5px;
    border-bottom: 3px dotted #333;
}

.area-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px 0;
}

.area-content-img {
    display: flex;
    width: 320px;
}

.area-content-img img {
    display: flex;
    padding: 5px;
    width: 300px;
    margin-top: 10px;
    transform: rotate(10deg);
    transition: 0.4s;
    background-color: white;
    box-shadow: 0px 0px 5px 2px black;
    opacity: 0.7;
}

.area-content-img img:hover {
    transform: rotate(0);
    cursor: pointer;
    opacity: 1.0;
}
/*final-area*/

/*inicio-local*/
.local-contato-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    background-image: url(../img/fundo-contato.jpg);
    background-repeat: repeat-x;
}

.local-contato {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
}

.local-contato p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #333;
}

.local-mapa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
}

 .mapa iframe {
    display: flex;
    width: 100%;
    border-radius: 10px;
}
/*final-local*/

/*inicio-rodape*/
.rodape-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background-color: #333;
}

.rodape-content p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding: 5px;
}
/*final-rodape*/